/ki4so-core/.settings
/ki4so-core/.project
/ki4so-core/.classpath
/ki4so-web/.project
/ki4so-web/.settings
/ki4so-web/.classpath
/ki4so-web/target
/ki4so-core/target
/ki4so-common/.project
/ki4so-common/.settings
/ki4so-common/target
/ki4so-common/.classpath
/.project
/.gitignore
/ki4so-parent.ipr
/ki4so-parent.iws
/ki4so-parent.iml
/ki4so-core/ki4so-core.iml
/ki4so-core/.idea
/ki4so-web/ki4so-web.iml
/ki4so-web/.idea
/ki4so-common/ki4so-common.iml

/ki4so-app/.project
/ki4so-app/.settings
/ki4so-app/target
/ki4so-app/.classpath
/ki4so-java-client/.project
/ki4so-java-client/.settings
/ki4so-java-client/target
/ki4so-java-client/.classpath
/ki4so-jdbc/.project
/ki4so-jdbc/.settings
/ki4so-jdbc/target
/ki4so-jdbc/.classpath
/.settings
/ki4so-app/.mymetadata
/ki4so-app/.springBeans
/ki4so-web/.mymetadata
/ki4so-web/.springBeans
